# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files from Spotlight and system
.Spotlight-V100
.Trashes
Icon?

# Swap files
*.swp
*.swo

# VS Code
.vscode/

# Logs
*.log

# Node & Bun
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb
out
out/
.out
# Node & Bun
node_modules/
bun.lockb

# Next.js build output
.next/
out/


# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.env
.venv/
venv/

# Git
.git/
.gitignore

